{% extends 'blogging/base.html' %} 
{% load static %}

{% block page_static %}
        <link rel="stylesheet" href="{% static 'article_detail/main.css' %}">
        <title>{{ articles }}</title>
{% endblock page_static %} 

{% block page_content %}
                <div class="container article">
                    <h1 class="title">{{ articles.title }}</h1>
                    <div class="article_body">{{ articles.body }}</div>
                </div>
                <a href="{% url 'edit_post' articles.pk %}" style="color: blue;">+ Edit Article</a>
{% endblock page_content %}

{% block script %}
        <script src="{% static 'article_detail/main.js' %}"></script>
{% endblock script %}
