{% extends 'blogging/base.html' %}
{% load static %}

{% block page_static %}
        <link rel="stylesheet" href="{% static 'index/main.css' %}" />
        <title>Mehran Blog</title>
{% endblock page_static %} 

{% block page_content %}
<div class="container head">
    <div class="row">
        <div class="col-2 first_item_header">
            <div class="header_writing">
                <h1>
                    write great articles<br />
                    read great articles
                </h1>
            </div>
            <div class="get_started">
                <a href="#">
                    <button type="button" class="important_reverse">
                        get started
                    </button>
                </a>
            </div>
        </div>
        <div class="col-2">
            <!-- header svg -->
            <div class="header_illustration">
                <img
                    src="{% static 'index/header_svg/header.svg' %}"
                    alt="Header"
                    class="header_svg"
                />
            </div>
        </div>
    </div>
</div>
<div class="container trending-articles">
    <div class="trending_icon">
        <i class="bx bx-trending-up"></i>
    </div>
    <h3>Trending on Mehran Blog</h3>
    <div class="row">
        <div class="col-3">
            <div class="article_summary">
                <p class="article_number">01</p>
                <div class="article_description">
                    <p class="article_author">Free Base</p>
                    <h3 class="article_title">
                        This is Why the World is Facing a Covid Apocalypse
                    </h3>
                    <small class="article_date">May 2 -</small>
                    <small class="article_time_to_read"> 3 min read </small>
                </div>
            </div>

            <div class="article_summary">
                <p class="article_number">02</p>
                <div class="article_description">
                    <p class="article_author">Sara A Meta Wall</p>
                    <h3 class="article_title">
                        9 Discord Servers for Math, Python, and Data Science You Need to Join Today
                    </h3>
                    <small class="article_date">May 1 -</small>
                    <small class="article_time_to_read"> 6 min read </small>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="article_summary">
                <p class="article_number">03</p>
                <div class="article_description">
                    <p class="article_author">Coinbase</p>
                    <h3 class="article_title">
                        Cardano(ADA) is now available on Coinbase
                    </h3>
                    <small class="article_date">Mar 13 -</small>
                    <small class="article_time_to_read"> 1 min read </small>
                </div>
            </div>

            <div class="article_summary">
                <p class="article_number">04</p>
                <div class="article_description">
                    <p class="article_author">Happy Planet</p>
                    <h3 class="article_title">
                        How to be Happy ?
                    </h3>
                    <small class="article_date">May 1 -</small>
                    <small class="article_time_to_read"> 12 min read </small>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="article_summary">
                <p class="article_number">05</p>
                <div class="article_description">
                    <p class="article_author">Adam J Bell</p>
                    <h3 class="article_title">
                        Toxic behaviors normalized by society 
                    </h3>
                    <small class="article_date">May 1 -</small>
                    <small class="article_time_to_read"> 8 min read </small>
                </div>
            </div>

            <div class="article_summary">
                <p class="article_number">06</p>
                <div class="article_description">
                    <p class="article_author">Herber</p>
                    <h3 class="article_title">
                        YouTube and Patreon Still Aren’t Paying the Rent for Most Creatives
                    </h3>
                    <small class="article_date">Mar 18 -</small>
                    <small class="article_time_to_read"> 8 min read </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block script %}
        <script src="{% static 'index/main.js' %}"></script>
{% endblock script %}
