/* home page css file  */
.header {
    margin-top: 50px;
}
.first_item_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header_writing {
    font-size: 16px;
    color: #0b132a;
    line-height: 70px;
    text-transform: capitalize;
}
.get_started button {
    width: 180px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
}

.header_illustration {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.main .header_svg {
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    .col-2 {
        width: 70%;
    }
}

@media only screen and (min-width: 800px) {
    .main .header_svg {
        width: 85%;
        height: 85%;
    }
}

/* trending part */
.trending-articles {
    margin-top: 50px;
}
.trending_icon {
    margin-left: 30px;
    border-radius: 50%;
    padding: 4px 4px 1px;
    border: 1px solid #0b132a;
}
.trending_icon,
.trending-articles h3 {
    display: inline-block;
}
.article_summary {
    margin: 30px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
}
.article_number {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(194, 192, 192);
}
.article_description small {
    margin-top: 20px;
}
